.banner_section {
    width: 100%;
    min-height: 100vh;
    background-color: #f9db79;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(../../../public/banner-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_section_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 30px;
}

.banner_section_title h1 {
    font-size: 100px;
    text-shadow: 3px 5px 2px #474747;
    color: #fff;
}

.about_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_section div {
    width: 100%;
    max-width: 1024px;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about_section div {
    width: 100%;
    max-width: 1024px;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
.about_section h2{
    font-size: 32px;
    line-height: 26px;
    text-align: center;
  }
  
.about_section span {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
  }
  
.about_section p {
    text-align: center;
    line-height: 26px;
  }
  
.image_section div {
    display: flex;
  }
  
.image {
    width: 50%;
    height: auto;
    object-fit: cover;
  }


  @media (max-width: 768px) {
    .banner_section div h1 {
      font-size: 60px;
    }
  
    .image_section div {
      flex-direction: column;
    }
  
    .image {
      width: 100%;
    }
  }
  
  @media (max-width: 768px){
    .banner_section div h1 {
      font-size: 60px;
    }
  }
  
  @media (max-width: 525px){
    .banner_section div h1 {
      font-size: 40px;
    }
  }